<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Emilio Cabrera">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}Welcome {{ app.user ? app.user.username : ''}}!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
    {% endblock %}
    {% block specific_stylesheets %}{% endblock specific_stylesheets %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
{% block body %}
    <!-- NAVBAR
    ================================================== -->
    {% block navbar %}
        <div class="navbar-wrapper">
            <div class="container">
                <nav class="navbar navbar-inverse navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ path('homepage') }}">Odontología Infantil</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ path('homepage') }}">Inicio</a></li>
                                {% if is_granted('ROLE_DOCTOR') %}
                                    <li><a href="{{ path('show_patients') }}">Pacientes</a></li>
                                {% elseif is_granted('ROLE_USER') %}
                                    <li><a href="{{ path('show_appointments') }}">Citas</a></li>
                                    <li><a href="{{ path('show_doctors') }}">Doctores</a></li>
                                {% else %}
                                    <li><a href="{{ path('show_doctors') }}">Doctores</a></li>
                                {% endif %}
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                {% if is_granted('ROLE_USER') %}
                                    <li><p class="navbar-text text-muted"><span class="fa fa-user"></span> {{ app.user }}</p></li>
                                    <li><a href="{{ path('security_logout') }}">Logout <span class="fa fa-lock"></span></a></li>
                                {% else %}
                                    <li><a href="{{ path('security_login') }}">Login <span class="fa fa-key"></span></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    {% endblock navbar %}

    {% block flashMessages %}
        {% if app.session.flashBag.has('danger') or app.session.flashBag.has('warning') or app.session.flashBag.has('success') or app.session.flashBag.has('info') %}
            <div class="container main-content">
                {% for msg in app.session.flashBag.get('danger') %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Error!</strong> {{ msg }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for msg in app.session.flashBag.get('warning') %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Cuidado!</strong> {{ msg }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for msg in app.session.flashBag.get('success') %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Éxito!</strong> {{ msg }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for msg in app.session.flashBag.get('info') %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Info!</strong> {{ msg }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock flashMessages %}

    {% block content %}

    {% endblock content %}

    <!-- FOOTER -->
    {% block footer %}
        <footer class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    {% endblock footer %}

{% endblock body %}
{% block javascripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{% block jquery %}<script src="{{ asset('vendor/jquery/dist/jquery.slim.min.js') }}"></script>{% endblock jquery %}
    <script src="{{ asset('vendor/bootstrap/collapse.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/dropdown.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/alert.js') }}"></script>
{% endblock javascripts %}
{% block specific_javascripts %}{% endblock specific_javascripts %}
</body>
</html>
