{% extends ':form:form.html.twig' %}

{% block title %}Editar cita{% endblock %}

{% block form %}
    <div class="page-header">
        <h1>Editar cita</h1>
    </div>

    {{ form_start(appointment_form) }}
    {{ form_widget(appointment_form) }}
    <button type="submit" class="btn btn-primary">Agendar</button>
    {{ form_end(appointment_form) }}
{% endblock form %}

{% block specific_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {% if is_granted('ROLE_DOCTOR') %}
        autocomplete_field(
            "appointment",
            "patient",
            "{{ path('search_patient') }}",
            "{{ path('get_patient') }}",
            3
        );
        {% endif %}
        {% if is_granted('ROLE_ADMIN') or not is_granted('ROLE_DOCTOR') %}
        autocomplete_field(
            "appointment",
            "doctor",
            "{{ path('search_doctor') }}",
            "{{ path('get_doctor') }}",
            3
        );
        {% endif %}
    </script>
{% endblock specific_javascripts %}
